.letter-content {
	font-style: italic;
	font-family: "LiSong Pro","SimSun","FangSong","Microsoft YaHei","LiHei Pro","明體","微軟正黑體", "Microsoft JhengHei", "新細明體",'Lato', sans-serif;
}

.story_code {
	font-size: 12px;
}