.letter-content {
	font-style: italic;
	font-family: "LiSong Pro","SimSun","FangSong","Microsoft YaHei","LiHei Pro","明體","微軟正黑體", "Microsoft JhengHei", "新細明體",'Lato', sans-serif;
}

#letter-background {
	border-radius: 5px;
	margin:auto; padding: 0 0 0 0;
	background: url(../../img/lines.png); position: relative;
	color: black;
	text-align: left;
	padding: 2em 2em 2em 2em;
}

.story_code {
	font-size: 12px;
}

#banner-fix {
		background-attachment: scroll, scroll, scroll, fixed;
		background-color: #645862;
		background-image: url("images/light-bl.svg"), url("images/light-br.svg"), url("images/overlay.png"), url("../images/bg4.png");
		background-position: bottom left, bottom right, top left, top center;
		background-repeat: no-repeat, no-repeat, repeat, no-repeat;
		background-size: 25em, 25em, auto, cover;
		color: white;
		cursor: default;
		padding: 6em 0;
		text-align: center;
	}