.alertify,
.alertify-log {
	font-family: "Noto sans cjk TC", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "新細明體",'Lato', sans-serif;
}
.alertify-log {
	background: rgba(0,0,0,0.3);
}
.alertify-log:hover {
	background: rgba(255,255,255,0.6);
	color: #111;
	text-shadow: none;
}
.alertify-log-error {
	color: #B94A48;
	background: #F2DEDE;
	border: 1px solid #EED3D7;
}
.alertify-log-success {
	color: #468847;
	background: #DFF0D8;
	border: 1px solid #D6E9C6;
}